/**** General Rules ****/
p {
    margin: 0;
    padding: 0;
}
.call-container h4 {
    color:rgb(226, 226, 226);
    line-height: 20px;
    font-weight: 400;
}
/***** BODY ******/

* {
    font-family: 'Lato', sans-serif;
}
html {
    height:100%;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;   
    font-size:16px;
}
button a {
    color: black;
}
a:hover, a:visited, a:link, a:active {  
        text-decoration: none!important;
}
span {
    font-size: 35px;
    color: rgb(226, 225, 225);
}
strong{
    font-size: 20px;
}
/*** NAV ***/
#menu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}
.site-name img {
    width: 150px;
    height: auto;
    padding-top:-10px;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.912);
    box-shadow: 0px 0.5px 2px #cecece;
    border-color: #e7e7e7;
}
/*** MAIN ***/
main {
    margin: 0px auto; 
    padding-top: 30px;
}
.parallax {
min-height: 30em;
background-image: url(img/bg1.jpg);
background-attachment: fixed;
background-size: 1032.26px 688px;
background-position: 50% -75.3807px;
display: flex;
flex-direction: column;
justify-content: center;
}
.parallax2 {
    min-height: 30em;
    background-image: url(img/bg4.jpg);
    background-attachment: fixed;
    background-size: 1032.26px 688px;
    background-position: 50% -75.3807px;
    padding-top: 5em;
    }
.parallax h1 {   
    margin: 20px 0px;
    font-size: 56px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.title{
    background-color: rgba(175, 175, 175, 0.337);
    padding-bottom: 25px;
}
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }
/** LOGO **/
.logo {
    box-sizing: border-box;
    height: 5em;
    padding-top:25px;   
}
.logo img{
    width: 190px;
}
.call-container p{
    font-size: 18px;
    color: white;
}
.call-container a{
    color: rgb(181, 255, 248);
}

/** FORM CONTAINER **/
#sub-form{
    margin-top: 40px;
}
form {
    box-sizing: border-box;
    padding: 1em;
    background-color: white;
    border-radius: 0.3em;
    
}

/*** input ***/
input {
    box-sizing: border-box;
    border: 0.1em solid #cdcdcd;
    border-radius: 0.3em;
    font-size:1em;
}
#send {
background-color: #009966;
padding: 1em;
margin-bottom: 1em;
width: 200px;
font-size:0.9em;
font-weight:bold;
letter-spacing: 0.1em;
}

#send:hover {
    background-color: #5cb85c;
    color: #181818;
    cursor: pointer;
}

.field {
    width:100%;
    padding: 1em;
    margin-bottom: 1em;
}

.field:hover {
    background-color: #5cb85c72;
}
/*.form-group{
    padding-top: 30px;
}*/
.terms{
    border: 0.1em solid #cdcdcd;
    border-radius: 0.3em;
    height: 200px; 
    overflow: auto; 
    padding: 14px;    
}
.terms p, .terms ul li{
    font-size: 12px;
}
.terms ul li{
    text-align: left;
}

#info{
    font-size: 10px;
    text-align: center;
}
.checkbox{
    padding-bottom: 30px;
}

.call{
    margin-top: 40px;
}
#thank-container{
    margin: 30px auto;
    color: white;
    
}
#thank-container h3 {
    font-size: 22px;
}

/**** FOOTER ****/
footer {
    margin: 30px 0; 
    color: rgb(114, 114, 114);
    font-size: 14px;
    clear: both;
}
